<h2>View music album</h2>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Artist name: </th>
      <td data-test="music-artist">{{model.artistName}}</td>
    </tr>
    <tr>
      <th scope="row">Album name: </th>
      <td data-test="music-album">{{model.albumName}}</td>
    </tr>
    <tr>
      <th scope="row">Genres: </th>
      <td data-test="music-genres">{{model.genres}}</td>
    </tr>
    <tr>
      <th scope="row">Album cover: </th>
      <td data-test="music-albumCover">{{model.albumCover}}</td>
    </tr>
    <tr>
      <th scope="row">Year of release: </th>
      <td data-test="music-year">{{model.year}}</td>
    </tr>
    <tr>
      <th scope="row">Spotify link:</th>
      <td data-test="music-spotifyLink">{{model.spotifyLink}}</td>
    </tr>
  </tbody>
</table>    
